node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
*.json
!package.json
!jsconfig.json
!components.json
!transformed_anime_names.json
!transformed_artists.json
!transformed_song_names.json

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
